*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
}
body{
      display: flex;
      justify-content: center;   
      align-items: center;
      min-height: 100vh;
      background-image: url("beach.jpg");
}
.container{
      width: 450px;
      background: transparent;
      border: 2px solid rgba(255,255, 255, .2);
      backdrop-filter: blur(5px);
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, .2);
      color: #fff;
}
.container h1{
      font-size: 36px;
      text-align: center;
}
.container .input_box{
      position: relative;
      width: 90%;
      height: 50px;  
      margin: 30px 30px 20px 20px;
}
.input_box input{
      width: 100%;
      height: 100%;
      background:rgb(158, 223, 223);
      border: none;
      outline: none;
      border-radius: 2px solid rgba(48, 246, 13, 0.2);
      border-radius: 40px;
      font-size: 16px;
      /* font-weight: 400; */
      color: #211a1a;
      padding: 20px 45px 20px 20px;
}
.input_box textarea{
      position: relative;
      width: 100%;
      height: 50px;  
      width: 100%;
      background:rgb(158, 223,223);
      border: none;
      outline: none;
      border-radius: 2px solid rgba(48, 246, 13, 0.2);
      border-radius: 10px;
      font-size: 16px;
      font-weight: 600;
      color: #131010;
      padding: 20px 45px 20px 20px;
}
.input_box ::placeholder{
      color: #198de1;
}
.input_box textarea::placeholder{
      color: #198de1;
}
.input_box i{
      position: absolute;
      right: 20px;
      top: 80%;
      transform: translateY(-50%);
      font-size: 20px;
      color: #198de1;
}
.container .btn{
      position: relative;
      margin-left: 100px;
      width: 50%;
      height: 45px;
      background: #fff;
      border: none;
      outline: none;
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0,0 , 0, .1);
      cursor: pointer;
      font-size: 16px;
      color: #333;
      font-weight: 700;
}
.container .btn:hover{  
      background: #198de1;
      color: #fff;
}
span{
      font-size: bold;
      font-weight: 600;
      color: black;
}
input[type="text"]{
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
}
button[type="submit"]{
      padding: 10px 20px;
      background-color: #5dfdda;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
}
button[type="submit"]:hover{
      background-color: #45a049;
}
textarea{
      width: 30%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
}
input[type="email"]{
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
}
input[type="number"]{
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
}
label{
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      color: #333;
}